*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-backone: #333;
	--color-backtwo: #1a1a1a;
	--color-lightone: #ddd;
	--color-lighttwo: #c0c0c0;
	--color-lightthree: #808080;
	--color-blenda: rgba(192, 192, 192, 0.3);
}

body {
	height: 100%;
	background-color: var(--color-backtwo);
	font-family: 'Roboto Condensed', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
	width: 90%;
	height: 100%;
	h1 {
		color: var(--color-lightone);
		text-align: center;
	}
}

@import './medium';
